# ignore src files
src/ast/ast
src/ast/nimcache/

src/evaluator/evaluator
src/evaluator/nimcache/

src/lexer/lexer
src/lexer/nimcache/

src/obj/obj
src/obj/nimcache/

src/parser/parser
src/parser/nimcache/

src/token/token
src/token/nimcache/

src/utils/utils
src/utils/nimcache/

# ignore test files
test/buildin_test/buildin_test
src/buildin_test/nimcache/

test/evaluator_test/evaluator_test
src/evaluator_test/nimcache/

test/lexer_test/lexer_test
src/lexer_test/nimcache/

test/parser_test/parser_test
src/parser_test/nimcache/

test/test_helper/test_helper
src/test_helper/nimcache/

test/token_test/token_test
src/token_test/nimcache/